/***Global styles***/
.content-wrapper {
    width: 90%;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Lekton', 'Lexend Tera', sans-serif;
    font-size: 0.9em;
    color: #0000;
    background-color: #eeefda;
}

header,
footer,
main section {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    font-family: 'Lekton';
    font-size: 1.1em;
    font-weight: 400;
    list-style: none;
}





/*--Mobile--*/

/***Header & footer styles***/


/***Header styles***/

header ul {
    display: flex;
    text-transform: lowercase;
    justify-content: space-between;
    padding: 30px 0;
}

header h1 {
    font-family: 'Lexend Tera', sans-serif;
}

header span {
    font-family: 'Lekton', serif;
    font-weight: bold;
}

header p, header h3 {
    font-size: 1.5em;
}


/***Main styles***/

/*About*/

/*Skills*/

/*Projects*/

/*Footer*/

footer .social-icons i {
    font-size: 1.3em;
    color: #152A3E;
  }

/*--Breakpoints for tablet and desktop--*/