/*--GLOBAL STYLES--*/

.content-wrapper,
.skills-tools {
    width: 90%;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Lekton', 'Lexend Tera', sans-serif;
    font-size: 0.9em;
    color: #152A3E;
    background-color: #CAC691;
}

a {
    text-decoration: none;
    color: #152A3E;
}

h2 {
    font-size: 2em;
    color: #152A3E;
}

h3 {
    font-size: 1.5em;
}

p {
    line-height: 1.4em;
    font-size: 1.2em;
}

header,
footer,
main section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

ul {
    font-family: 'Lekton';
    font-size: 1.2em;
    font-weight: 500;
    list-style: none;
}

/*--MOBILE--*/

/***Header styles***/

header ul {
    display: flex;
    text-transform: lowercase;
    justify-content: space-between;
    padding: 30px 0;
    font-weight: 700;
    border-bottom: 3px solid #152A3E;
}

header ul a {
    color: #152A3E;
}

header a:hover {
    color: #ffffff;
}

header #contact-button {
    background-color: #152A3E;
    border-radius: 30px;
    padding: 10px;
    color: #ffffff;
}

header #contact-button:hover {
    background-color: #ffffff;
    border-radius: 30px;
    padding: 10px;
    color: #152A3E;
}


header .introduction {
    text-align: center;
    padding-top: 5px;
}

header .introduction i {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

header h1 {
    font-family: 'Lexend Tera', sans-serif;
    font-size: 2.2em;
}

header span {
    font-family: 'Lekton', serif;
    font-weight: bold;
}

/***Main styles***/

/*About*/

#about figure {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

#about img {
    width: 80%;
    border-radius: 50px;
    border: 5px solid #152A3E;
    padding: 10px;
    margin-top: 30px;
}

#about h3 {
    font-size: 1.2em;
}

/*Skills*/

/**
#skills ul {
    padding-left: 2em;
    list-style-type: none;
}
#skills ul li {
    background-image: url('../img/circle-notch-solid.svg');
    background-position: 0 0;
    background-size: 1em;
    background-repeat: no-repeat;
    line-height: 1.4em;
    padding-left: 2em;
}
**/

#skills ul {
    list-style: disc;
    line-height: 1.1em;
    font-weight: 700;
}


/*Projects*/

#projects i {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

#projects h2 {
    text-align: center;
}

.project-list-item a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-list-item {
    display: flex;
    justify-content: center;
    flex-flow: column;
    border: 5px solid #152A3E;
    border-radius: 50px;
    padding: 20px;
    margin-bottom: 30px;
}

.project-list-item h3 {
    text-align: center;
}

.project-list-item p {
    margin: 5px;
}

.project-list-item img {
    width: 80%;
}

.project-list-item a {
    background-color: #152A3E;
    border-radius: 30px;
    padding: 10px;
    color: #ffffff;
}

.project-list-item a:hover {
    background-color: #ffffff;
    color: #152A3E;
}

.project-list-item .button {
    font-size: 1.5em;
    margin: 10px 0;
    width: 50%;
}

.project-list-item .project-skills-tools {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

/*Footer*/

.footer-content {
    border-top: 3px solid #152A3E;
    padding: 50px 0 10px 0;
    margin: 0;
}

footer .social-icons i {
    font-size: 1.5em;
    color: #152A3E;
    margin: 10px;
    background-color: #CAC691;
    border-radius: 30px;
    padding: 10px;
}

footer .social-icons {
    display: flex;
    justify-content: center;
}

footer p {
    margin: 0;
}

footer .email {
    font-size: 1.5em;
}

.email:hover {
    color: #ffffff;
    background-color: #E9B14C;
    border-radius: 30px;
    padding: 15px;
}

footer .contact i {
    display: flex;
    justify-content: center;
    margin: 40px 0 20px 0;
}

.contact,
.social,
.copyright {
    text-align: center;
}

.copyright {
    font-size: 1em;
    margin: 90px 0 50px 0;
    color: #152A3E;
}

/*--TABLET & DESKTOP--*/

/*--TABLET--*/
@media only screen and (min-width: 768px) {

    /**Global styles**/
    h2 {
        font-size: 1.9em;
    }

    h3,
    p,
    ul {
        font-size: 1.3em;
    }

    /**Header**/

    header h1 {
        font-size: 2em;
    }

    /**About**/

    #about h3 {
        font-size: 1.5em;
    }

    #about img,
    .skills-tools {
        margin-bottom: 20px;
        width: 50%;
    }

    /***Skills***/

    .skills-tools {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: row wrap;
        width: 90%;
    }

    /**Projects**/

    .project-list-item {
        width: 40%;
    }

    .all-projects {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-flow: row wrap;
    }

    .project-list-item h3 {
        font-size: 1.5em;
        margin: 20px 0;
    }

    .project-list-item p {
        font-size: 1.3em;
    }

    .project-list-item .button {
        font-size: 1.2em;
        padding: 10px 0;
    }

    /**Footer**/

    footer h2,
    .email {
        font-size: 1.7em;
    }

    footer .social-icons i {
        font-size: 1.2em;
    }

    .copyright {
        font-size: 0.8em;
    }
}

/*--DESKTOP--*/

@media only screen and (min-width: 1200px) {

    /**Global styles**/
    .content-wrapper,
    .skills-tools {
        width: 70%;
    }

    h2 {
        font-size: 1.6em;
    }

    h3 {
        font-size: 1.3em;
    }

    header ul {
        font-size: 1.2em;
    }

    /**Header**/

    header .introduction i {
        margin: 40px 0;
    }

    header h1 {
        font-size: 1.5em;
    }

    header ul {
        justify-content: center;
    }

    header ul li {
        margin: 0 20px;
    }

    /**About**/

    #about .content-wrapper {
        display: flex;
        justify-content: space-between;
        flex-flow: row-reverse;
    }

    .about-text {
        width: 150%;
    }

    #about img {
        width: 65%;
        border-radius: 30px;
        border: 3px solid #152A3E;
        padding: 5px;
    }

    /***Skilss***/

    .skills-tools {
        justify-content: flex-start;
    }

    .skill-list,
    .tool-list {
        margin-right: 30px;
    }

    /***Projects***/

    .project-list-item {
        padding: 15px;
    }

    .project-list-item .button {
        width: 35%;
    }

    /***Footer***/

    footer h2,
    .email,
    footer .social-icons i {
        font-size: 1.4em;
    }

    .copyright {
        font-size: 1em;
    }
}